@import '../../core/stylesheets/variables.scss';

.md-divider {
  height: 1px;
  margin: 0;
  padding: 0;
  display: block;
  border: 0;
  background-color: rgba(#000, .12);

  &.md-inset {
    margin-left: 72px;
  }
}
