{
  "presets": [
    "es2015",
    "stage-3",
    [
      "env",
      {
        "modules": false,
        "useBuiltIns": false
      }
    ]
  ],
  "plugins": [
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true
    }],
    "syntax-dynamic-import"
  ],
  "ignore": [
    "dist/*.js"
  ]
}
