{
  "presets": [
    "es2015",
    "stage-3",
    [
      "env",
      {
        "modules": false,
        "useBuiltIns": false
      }
    ]
  ],
  "plugins": [
    "syntax-dynamic-import"
  ],
  "ignore": [
    "dist/*.js"
  ]
}
