{
  "root": true,
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "plugins": [
    "jest",
    "vue"
  ],
  "extends": [
    "plugin:vue/essential"
  ],
  "env": {
    "jest/globals": true
  },
  "rules": {
    "arrow-parens": 0,
    "generator-star-spacing": "off",
    "indent": "off",
    "indent-legacy": ["error", 2],
    "max-depth": [
      "error",
      4
    ],
    "max-statements": [
      "error",
      30
    ],
    "max-params": [
      "error",
      5
    ],
    "max-nested-callbacks": [
      "error",
      3
    ],
    "complexity": [
      "error",
      {
        "max": 6
      }
    ],
    "vue/valid-v-on": 0,
    "vue/v-bind-style": [
      "error",
      "shorthand"
    ],
    "vue/v-on-style": [
      "error",
      "shorthand"
    ],
    "vue/name-property-casing": [
      "error",
      "PascalCase"
    ],
    "vue/require-v-for-key": 0
  }
}
