{
  "root": true,
  "parser": "babel-eslint",
  "plugins": [
    "html",
    "jest"
  ],
  "extends": [
    "standard"
  ],
  "env": {
    "jest/globals": true
  },
  "rules": {
    "arrow-parens": 0,
    "generator-star-spacing": 0
  }
}
