@import '../../../core/stylesheets/variables.scss';

.md-ink-ripple {
  pointer-events: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  mask-image: radial-gradient(circle, white 100%, black 100%);
  transition: $swift-ease-in;
}

.md-ripple {
  position: absolute;
  transform: scale(0);
  background-color: currentColor;
  opacity: .26;
  border-radius: 50%;

  &.md-active {
    animation: ripple 1s $swift-ease-out-timing-function;
  }
}

@keyframes ripple {
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}
