@import '../../core/stylesheets/variables.scss';

$button-radius: 2px;

.md-rating-bar {
  width: auto;
  display: flex;
  color: rgba(#000, .3);
  width: fit-content;

  > .front-stars {
    overflow-x: hidden;
    display: inherit;
  }

  > .back-stars, > .front-stars {
    > .md-icon {
      margin: 0;
      white-space: nowrap;
      cursor: pointer;
    }
  }

  &:not([disabled]) {
    &:hover{
      background-color: rgba(#999, .2);
    }
  }

  &[disabled] {
    > .back-stars, > .front-stars {
       > .md-icon {
        cursor: default;
      }
    }
  }
}
