@import '../../core/variables.scss';

$avatar-size: 40px;

.md-avatar {
  width: $avatar-size;
  min-width: $avatar-size;
  height: $avatar-size;
  min-height: $avatar-size;
  margin: auto;
  display: inline-block;
  overflow: hidden;
  position: relative;
  border-radius: $avatar-size;
  vertical-align: middle;

  &.md-avatar-icon {
    background-color: rgba(#000, .38);

    .md-icon {
      color: #fff;
    }
  }

  .md-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  img {
    display: block;
  }
}
