.md-scrollbar {
  @include md-theme-component() {
    &::-webkit-scrollbar-corner,
    &::-webkit-scrollbar-track {
      @include md-theme-property(background, scrollbar-background);
    }

    &::-webkit-scrollbar-thumb {
      @include md-theme-property(background, scrollbar);
    }
  }
}
