$md-elevation-umbra-color: rgba(#000, .2);
$md-elevation-penumbra-color: rgba(#000, .14);
$md-elevation-ambient-color: rgba(#000, .12);

$md-elevation-umbra: (
  0: "0 0 0 0",
  1: "0 2px 1px -1px",
  2: "0 3px 1px -2px",
  3: "0 3px 3px -2px",
  4: "0 2px 4px -1px",
  5: "0 3px 5px -1px",
  6: "0 3px 5px -1px",
  7: "0 4px 5px -2px",
  8: "0 5px 5px -3px",
  9: "0 5px 6px -3px",
  10: "0 6px 6px -3px",
  11: "0 6px 7px -4px",
  12: "0 7px 8px -4px",
  13: "0 7px 8px -4px",
  14: "0 7px 9px -4px",
  15: "0 8px 9px -5px",
  16: "0 8px 10px -5px",
  17: "0 8px 11px -5px",
  18: "0 9px 11px -5px",
  19: "0 9px 12px -6px",
  20: "0 10px 13px -6px",
  21: "0 10px 13px -6px",
  22: "0 10px 14px -6px",
  23: "0 11px 14px -7px",
  24: "0 11px 15px -7px"
);

$md-elevation-penumbra: (
  0: "0 0 0 0",
  1: "0 1px 1px 0",
  2: "0 2px 2px 0",
  3: "0 3px 4px 0",
  4: "0 4px 5px 0",
  5: "0 5px 8px 0",
  6: "0 6px 10px 0",
  7: "0 7px 10px 1px",
  8: "0 8px 10px 1px",
  9: "0 9px 12px 1px",
  10: "0 10px 14px 1px",
  11: "0 11px 15px 1px",
  12: "0 12px 17px 2px",
  13: "0 13px 19px 2px",
  14: "0 14px 21px 2px",
  15: "0 15px 22px 2px",
  16: "0 16px 24px 2px",
  17: "0 17px 26px 2px",
  18: "0 18px 28px 2px",
  19: "0 19px 29px 2px",
  20: "0 20px 31px 3px",
  21: "0 21px 33px 3px",
  22: "0 22px 35px 3px",
  23: "0 23px 36px 3px",
  24: "0 24px 38px 3px"
);

$md-elevation-ambient: (
  0: "0 0 0 0",
  1: "0 1px 3px 0",
  2: "0 1px 5px 0",
  3: "0 1px 8px 0",
  4: "0 1px 10px 0",
  5: "0 1px 14px 0",
  6: "0 1px 18px 0",
  7: "0 2px 16px 1px",
  8: "0 3px 14px 2px",
  9: "0 3px 16px 2px",
  10: "0 4px 18px 3px",
  11: "0 4px 20px 3px",
  12: "0 5px 22px 4px",
  13: "0 5px 24px 4px",
  14: "0 5px 26px 4px",
  15: "0 6px 28px 5px",
  16: "0 6px 30px 5px",
  17: "0 6px 32px 5px",
  18: "0 7px 34px 6px",
  19: "0 7px 36px 6px",
  20: "0 8px 38px 7px",
  21: "0 8px 40px 7px",
  22: "0 8px 42px 7px",
  23: "0 9px 44px 8px",
  24: "0 9px 46px 8px"
);


/**
 * The elevation transition duration
 * ---
 * @access private
 * @type transition
 * @group transition
 */

$md-elevation-transition-duration: .3s;
