@import '../../core/stylesheets/variables.scss';

.md-dialog-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 108;

  &.md-active {
    pointer-events: auto;

    .md-dialog {
      opacity: 1 !important;
      transform: scale(1) !important;
      transition: $swift-ease-out;
      transition-property: opacity, transform;
    }
  }
}

.md-dialog-backdrop {
  position: fixed;
  z-index: 109;
}

.md-dialog {
  min-width: 280px;
  max-width: 80%;
  max-height: 80%;
  display: flex;
  flex-flow: column;
  overflow: hidden;
  position: relative;
  z-index: 110;
  outline: none;
  border-radius: 2px;
  opacity: 0;
  box-shadow: $material-shadow-14dp;
  transform: scale(.9, .85);
  transform-origin: center center;
  transition: opacity $swift-ease-out-duration $swift-ease-out-timing-function,
              transform $swift-ease-out-duration .05s $swift-ease-out-timing-function;
  will-change: opacity, transform;

  &.md-reference {
    transform-origin: top center;
  }

  &.md-transition-off {
    transition: none !important;
  }

  p {
    margin: 0;
  }
}

.md-dialog-title {
  margin-bottom: 20px;
  padding: 24px 24px 0;
}

.md-dialog-content {
  padding: 0 24px 24px;
  flex: 1;
  overflow: auto;
  background: linear-gradient(to bottom, #fff 0, #fff 1px, transparent 1px),
              linear-gradient(to bottom, rgba(0, 0, 0, .12) 0, rgba(0, 0, 0, .12) 1px, transparent 1px),
              linear-gradient(to top, #fff 0, #fff 1px, transparent 1px),
              linear-gradient(to top, rgba(0, 0, 0, .12) 0, rgba(0, 0, 0, .12) 1px, transparent 1px);
  background-attachment: local, scroll, local, scroll;

  &:first-child {
    padding-top: 24px;
  }

  p:first-child:not(:only-child) {
    margin-top: 0;
  }

  p:last-child:not(:only-child) {
    margin-bottom: 0;
  }
}

.md-dialog-body {
  margin: 0 -24px;
  padding: 0 24px;
  overflow: auto;
}

.md-dialog-actions {
  min-height: 52px;
  padding: 8px 8px 8px 24px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .md-button {
    min-width: 64px;
    margin: 0;
    padding: 0 8px;

    + .md-button {
      margin-left: 8px;
    }
  }
}
