@import '../../core/stylesheets/variables.scss';

.md-list {
  margin: 0;
  padding: 8px 0;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  list-style: none;

  &.md-dense {
    padding: 4px 0;

    .md-list-item {
      min-height: 40px;

      &.md-inset .md-list-item-container {
        padding-left: 72px;
      }

      .md-list-item-container {
        font-size: 13px;

        .md-avatar:first-child {
          margin-right: 24px;
        }
      }
    }

    .md-avatar {
      width: 32px;
      min-width: 32px;
      height: 32px;
      min-height: 32px;
    }
  }

  &.md-double-line {
    &.md-dense {
      .md-list-item {
        min-height: 60px;

        .md-avatar {
          width: 36px;
          min-width: 36px;
          height: 36px;
          min-height: 36px;

          &:first-child {
            margin-right: 20px;
          }
        }
      }

      .md-list-text-container {
        > :nth-child(1) {
          font-size: 13px;
        }

        > :nth-child(2) {
          font-size: 13px;
        }
      }
    }

    .md-list-item {
      min-height: 72px;
    }
  }

  &.md-triple-line {
    &.md-dense {
      .md-list-item {
        min-height: 76px;

        .md-avatar {
          width: 36px;
          min-width: 36px;
          height: 36px;
          min-height: 36px;

          &:first-child {
            margin-right: 20px;
          }
        }
      }

      .md-list-text-container {
        > :nth-child(1) {
          font-size: 13px;
        }

        > :nth-child(2) {
          font-size: 13px;
        }
      }
    }

    .md-list-item {
      min-height: 88px;
    }

    .md-avatar {
      margin: 0;
    }

    .md-list-item-container {
      align-items: flex-start;
    }
  }

  .md-subheader {
    &.md-inset {
      padding-left: 72px;
    }
  }

  > .md-subheader:first-of-type {
    margin-top: -8px;
  }
}

.md-list-item {
  height: auto;
  min-height: 48px;
  display: flex;
  position: relative;

  &.md-inset {
    .md-list-item-container {
      padding-left: 72px;
    }
  }

  .md-list-item-container {
    width: 100%;
    min-height: 0;
    margin: 0;
    padding: 0 16px;
    display: flex;
    position: relative;
    flex: 1 1 auto;
    flex-flow: row nowrap;
    align-items: center;
    border-radius: 0;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    text-transform: none;

    > .md-ink-ripple {
      border-radius: 0;
    }

    > .md-icon:first-child {
      margin-right: 32px;
    }

    .md-avatar:first-child {
      margin-right: 16px;
    }

    .md-list-action {
      margin: 0 -2px 0 0;

      &:nth-child(3) {
        margin: 0 -2px 0 16px;
      }
    }
  }

  .md-divider {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .md-icon,
  .md-avatar {
    margin: 0;

    &:first-of-type + * {
      flex: 1 1 auto;
    }
  }

  .md-avatar {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .md-icon {
    color: rgba(#000, .54);
  }
}

.md-list-text-container {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  overflow: hidden;
  line-height: 1.25em;
  text-overflow: ellipsis;
  white-space: normal;

  > :nth-child(1) {
    font-size: 16px;
  }

  > :nth-child(2),
  > :nth-child(3) {
    margin: 0;
    color: rgba(#000, .54);
    font-size: 14px;
  }

  > :nth-child(2):not(:last-child) {
    color: rgba(#000, .87);
  }
}
