.md-list {
  @include md-theme-component() {
    @include md-theme-property(background-color, background);
    @include md-theme-property(color, text-primary, background);

    &.md-double-line .md-list-item-text :nth-child(2) {
      @include md-theme-property(color, text-accent, background);
    }

    &.md-triple-line .md-list-item-text :nth-child(3) {
      @include md-theme-property(color, text-accent, background);
    }

    .md-highlight .md-list-item-container {
      @include md-theme-property(background-color, divider, background);
    }

    .md-list-item-container {
      @include md-theme-property(color, text-primary, background);

      &:not(.md-list-item-default):not([disabled]):hover {
        @include md-theme-property(background-color, divider, background);
        @include md-theme-property(color, text-primary, background);
      }
    }

    [disabled] {
      @include md-theme-property(color, disabled, background);
    }

    .md-selected,
    .router-link-exact-active {
      .md-list-item-content {
        @include md-theme-property(color, primary, background);
      }
    }

    .md-list-item-expand.md-active {
      @include md-theme-property(border-color, divider, background);
    }
  }
}
