@import '~@vuematerial/motion/stylesheets/variables';

.md-ripple {
  overflow: hidden;
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: $md-motion-easing-default $md-motion-duration-medium;
    content: ' ';
  }

  &:before {
    z-index: 1;
  }

  &.md-centered,
  &.md-force-centered {
    .md-ripple-wave {
      top: 50%;
      left: 50%;
    }
  }

  > *:not(.md-ripple-wave):not(img):not(.md-shape-form) {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 3;
  }
}

.md-ripple-wave {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  background: currentColor;
  border-radius: 50%;
  transform: scale(0) translateZ(0);
  transform-origin: center center;
  transition-duration: 225ms;
  will-change: opacity, transform;
}

.md-ripple-enter {
  opacity: 0;
}

.md-ripple-enter-active {
  opacity: 1;
  transition: 175ms opacity $md-motion-easing-default,
              225ms transform $md-motion-easing-enter;
}

.md-ripple-leave-active {
  opacity: 0 !important;
  transition: 300ms opacity $md-motion-easing-default,
              300ms transform $md-motion-easing-enter;
}
