@import '~@vuematerial/theme/engine/utils';
@import './variables';

@function md-get-ripple-state-opacity ($state, $color) {
  @return map-get(map-get($md-ripple-state, $state), $color);
}

@function md-get-ripple-state-rgba ($hex, $state, $color) {
  @return rgba($hex, md-get-ripple-state-opacity($state, $color));
}

@function md-get-ripple-state-color ($paletteColor, $state, $finalColor: '', $backgroundColor: '') {
  $shade: null;
  $stateColor: null;
  $opacityReference: null;

  @if ($finalColor != '') {
    $stateColor: $finalColor;

    @if ($backgroundColor != '') {
      $shade: md-pick-contrast(md-get-color($paletteColor));

      @if ($shade == dark) {
        $opacityReference: surface;
      } @else {
        $opacityReference: color;
      }
    } @else {
      $opacityReference: surface;
    }
  } @else {
    $shade: md-pick-contrast(md-get-color($paletteColor));

    @if ($shade == dark) {
      $stateColor: #fff;
      $opacityReference: color;
    } @else {
      $opacityReference: surface;
      $stateColor: #000;
    }
  }

  @return md-get-ripple-state-rgba($stateColor, $state, $opacityReference);
}
