$md-ripple-disabled-opacity: .38;

$md-ripple-state: (
  hovered: (
    surface: .04,
    color: .08
  ),
  focused: (
    surface: .12,
    color: .24
  ),
  selected: (
    surface: .08,
    color: .16
  ),
  activated: (
    surface: .12,
    color: .24
  ),
  pressed: (
    surface: .12,
    color: .24
  ),
  dragged: (
    surface: .08,
    color: .16
  )
);
