@import '../stylesheets/utils';

@mixin md-ripple-spec ($paletteColor, $finalColor: '') {
  .md-ripple-wave {
    background: md-get-ripple-state-color($paletteColor, pressed, $finalColor);

    &.md-ripple-enter {
      &.md-force-centered {
        background: md-get-ripple-state-color($paletteColor, pressed, $finalColor);

        &:before {
          background: md-get-ripple-state-color($paletteColor, activated, $finalColor);
        }
      }
    }
  }
}

.md-ripple {
  @include md-theme-component(ripple) {
    @include md-ripple-spec(surface);

    &.md-primary {
      @include md-ripple-spec(primary);
    }

    &.md-secondary {
      @include md-ripple-spec(secondary);
    }

    &.md-flat {
      &.md-primary {
        @include md-ripple-spec(primary, md-get-color(primary));
      }

      &.md-secondary {
        @include md-ripple-spec(secondary, md-get-color(secondary));
      }
    }
  }
}
