@import '~@vuematerial/motion/stylesheets/variables';

.md-state {
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: $md-motion-easing-default $md-motion-duration-medium;
    content: ' ';
  }

  &:before {
    z-index: 1;
  }

  > *:not(.md-ripple-wave):not(img) {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
  }
}
