@import '../../core/stylesheets/variables.scss';

.md-grid {

  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  .md-grid-media {

    margin: 1px;
    position: relative;
    width: 33%;

    .md-grid-content {

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      left: 0;
      right: 0;

      &:first-of-type {

        top: 0;
      }

      &:last-of-type:not(:first-of-type) {

        bottom: 0;
      }

      div {

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 16px;  
        font-size: 12px;

        > :first-child:not(.md-button) {
          font-weight: bold;
          font-size: 16px;
        }

        &.single-line {

          height: 48px;
        }

        &.double-line {

          height: 68px;
        }
      }
    }
  }
}
