@mixin md-apply-theme ($name, $palette: $md-theme-palette) {
  $prefix: md-theme-;
  $name: #{$prefix}#{$name};

  $palette: map-merge($md-theme-palette, $palette);

  @include md-setup-theme($palette);

  @each $component, $theme in $md-themable-components {
    .#{$component}.#{$name} {
      @extend %#{$theme} !optional;
    }
  }
}

@mixin md-register-component ($component, $theme) {
  $md-themable-components: map-merge($md-themable-components, (
    #{$component}: $theme,
  )) !global;
}
