/**
 * Theme any css property based on the current palette, accepting a themable
 * value that will give an contrasted
 * ---
 * Usage example:
 *
 * .md-foo {
 *   min-width: 88px;
 *   height: 40px;
 *   background: md-theme(primary);
 * }
 *
 * ---
 * @access public
 * ---
 * @param {string} $type —  The themable value
 */

@function md-theme($type, $background: "") {
  $color-theme: null;

  @if $type == 'primary' or $type == 'accent' {
    @return md-get-color-by-type($type);
  } @else {
    @if $background == "" {
      $color-theme: map-get($md-theme-palette, theme);
    } @else {
      $color-theme: md-pick-contrast(md-get-color-by-type($background));
    }

    @return md-get-color-by-theme($color-theme, $type);
  }
}


/**
 * Get a color based on type by theme
 * ---
 * Usage example:
 *
 * $color: md-get-color-by-theme(dark, primary)
 *
 * ---
 * @access public
 * ---
 * @param {string} $color-theme —  The theme color | Accepts dark or light
 * @param {string} $type —  The color type
 */

@function md-get-color-by-theme($color-theme, $type) {
  $theme: map-get($md-color-levels, $color-theme);

  @return map-get($theme, $type);
}


/**
 * Get a color based on type only
 * ---
 * Usage example:
 *
 * $color: md-get-color-by-type(accent)
 *
 * ---
 * @access public
 * ---
 * @param {string} $type —  The color type
 */

@function md-get-color-by-type($type) {
  @return map-get($md-theme-palette, $type);
}
