$md-theme-black-green: (
  primary: md-get-palette-color(grey, 900),
  accent: md-get-palette-color(lightgreen, A700)
);
$md-theme-black-green-light: map-merge($md-theme-black-green, (
  theme: light
));
$md-theme-black-green-dark: map-merge($md-theme-black-green, (
  theme: dark
));


$md-theme-blue-red: (
  primary: md-get-palette-color(blue, 500),
  accent: md-get-palette-color(red, 500)
);
$md-theme-blue-red-light: map-merge($md-theme-blue-red, (
  theme: light
));
$md-theme-blue-red-dark: map-merge($md-theme-blue-red, (
  theme: dark
));


$md-theme-green-orange: (
  primary: md-get-palette-color(green, 500),
  accent: md-get-palette-color(orange, 500)
);
$md-theme-green-orange-light: map-merge($md-theme-green-orange, (
  theme: light
));
$md-theme-green-orange-dark: map-merge($md-theme-green-orange, (
  theme: dark
));
