/**
 * The default theme palette
 * primary: indigo 500 #3f51b5
 * secondary: pink 500 #e91e63
 * theme: light
 *
 * It can be used just before importing the Vue Material stylesheet
 *
 * ---
 * @access public
 * @type ColorMap
 * @group themes
 */

$md-theme-palette: (
  primary: map-get(map-get($md-palette, indigo), 500),
  accent: map-get(map-get($md-palette, pink), 500),
  theme: 'light'
) !default;

/**
 * Temporary variable to store all themable values
 * ---
 * @access private
 * @type Map
 * @group themes
 */
$md-theme-values: ();

/**
 * Map variable to store all themes to be processed by each component
 * ---
 * @access private
 * @type Map
 * @group themes
 */
$md-themes: ();

/**
 * The light contrast values
 * ---
 * @access private
 * @type Map
 * @group themes
 */

$md-color-light-mode: (
  background: #fff,
  text-primary: rgba(#000, .87),
  text-secondary: rgba(#000, .54),
  text-hint: rgba(#000, .38),
  disabled: rgba(#000, .38),
  icon: rgba(#000, .38)
);

/**
 * The dark contrast values
 * ---
 * @access private
 * @type Map
 * @group themes
 */

$md-color-dark-mode: (
  background: #424242,
  text-primary: #fff,
  text-secondary: rgba(#fff, .7),
  text-hint: rgba(#fff, .5),
  disabled: rgba(#fff, .5),
  icon: rgba(#fff, .5)
);
