.md-field {
  @include md-theme-component() {
    @if md-get-theme-mode() == light {
      &:after {
        background-color: rgba(#000, .42);
      }


      .md-helper-text,
      label {
        color: rgba(#000, .54);
      }

      input,
      textarea {
        &::-webkit-input-placeholder {
          color: rgba(#000, .54);
        }
      }

      .md-error {
        @include md-theme-property-by-hue(color, red, A400, field, error);
      }

      &.md-focused,
      &.md-has-value {
        input,
        textarea {
          -webkit-text-fill-color: rgba(#000, .87);
        }
      }

      &.md-has-textarea:not(.md-autogrow) {
        &:before {
          border-color: rgba(#000, .42);
        }
      }

      &.md-disabled {
        &:after {
          background-image: linear-gradient(to right, rgba(#000, .38) 0%, rgba(#000, .38) 33%, transparent 0%);
        }

        label,
        input,
        textarea {
          color: rgba(#000, .42);
        }
      }
    } @else {
      &:after {
        background-color: rgba(#fff, .7);
      }

      .md-helper-text,
      label {
        color: rgba(#fff, .7);
      }

      input,
      textarea {
        &::-webkit-input-placeholder {
          color: rgba(#fff, .7);
        }
      }

      &.md-focused,
      &.md-has-value {
        input,
        textarea {
          -webkit-text-fill-color: #fff;
        }
      }

      &.md-has-textarea:not(.md-autogrow) {
        &:before {
          border-color: #fff;
        }
      }

      &.md-disabled {
        &:after {
          background-image: linear-gradient(to right, rgba(#fff, .7) 0%, rgba(#fff, .7) 33%, transparent 0%);
        }

        label,
        input,
        textarea {
          color: rgba(#fff, .5);
        }
      }
    }

    &.md-focused {
      &:before {
        @include md-theme-property(background-color, primary);
      }

      label {
        @include md-theme-property(color, primary);
      }

      input,
      textarea {
        @include md-theme-property(color, primary);
      }

      &.md-has-textarea:not(.md-autogrow) {
        &:before {
          @include md-theme-property(border-color, primary);
        }
      }
    }
  }
}
