html,
body {
  height: 100%;
}

body {
  display: flex;
}

.cell-phone {
  width: 360px;
  height: 480px;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.scrollable {
  overflow: auto;
}

.md-bottom-bar {
  margin-top: 424px;
}
