@import '../../core/stylesheets/variables.scss';

.md-button-toggle {
  .md-button {
    &:not([disabled]) {
      color: rgba(#000, .54);

      &:hover:not(.md-toggle) {
        &:not(.md-raised) {
          background-color: rgba(#999, .2);
          text-decoration: none;
        }
      }
    }
  }
}
