@import '../../core/stylesheets/variables.scss';
@import '../../core/stylesheets/mixins.scss';

.md-layout {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.md-row {
  flex-direction: row;
}

.md-column {
  flex-direction: column;
}


/* Gutter Size */

$sizes: (8, 16, 24, 40);

@each $item in $sizes {
  $padding: $item / 2 + px;
  $margin: -$item / 2 + px;

  .md-gutter-#{$item}:not(.md-column) {
    margin-right: $margin;
    margin-left: $margin;

    > .md-layout {
      padding-right: $padding;
      padding-left: $padding;
    }
  }

  .md-column.md-gutter-#{$item} {
    margin-top: $margin;
    margin-bottom: $margin;

    > .md-layout {
      padding-top: $padding;
      padding-bottom: $padding;
    }
  }
}


/* Flex Size */

@mixin layout-flex($size: null) {
  @if $size == null {
    $size : '';
  }

  @if $size != '' {
    $size : '-#{$size}';
  }

  .md-flex#{$size} {
    flex: 1;
  }

  .md-flex#{$size}-33 {
    flex: 0 1 33.33333%;
  }

  .md-flex#{$size}-66 {
    flex: 0 1 66.66666%;
  }

  @for $i from 0 through 20 {
    $counter: $i * 5;

    .md-flex#{$size}-#{$counter} {
      flex: 0 1 #{$counter + '%'};
    }
  }
}

@include layout-flex();


/* Responsive Breakpoints */

@mixin breakpoint-layout($size) {
  .md-column-#{$size} {
    flex-direction: column;
  }

  .md-row-#{$size} {
    flex-direction: row;
  }

  .md-hide-#{$size} {
    display: none;
  }

  @include layout-flex($size);
}

@include layout-xlarge {
  @include breakpoint-layout(xlarge);
}

@include layout-large {
  @include breakpoint-layout(large);
}

@include layout-medium {
  @include breakpoint-layout(medium);
}

@include layout-small {
  @include breakpoint-layout(small);
}

@include layout-xsmall {
  @include breakpoint-layout(xsmall);
}
