/**
 * The layout system breakpoints
 * ---
 * @access private
 * @type layout
 * @group layout
 */

$md-breakpoint-xsmall: 600px !default;
$md-breakpoint-small: 960px !default;
$md-breakpoint-medium: 1280px !default;
$md-breakpoint-large: 1920px !default;

/**
 * The available gutter sizes
 * ---
 * @access private
 * @type layout
 * @group layout
 */

$md-gutter-xsmall: 8px;
$md-gutter-small: 16px;
$md-gutter-medium: 24px;
$md-gutter-large: 40px;
$md-gutter-xlarge: 40px;
