body {
  min-height: 100%;
  margin: 0;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: rgba(#000, .87);
  font-family: $font-roboto;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .010em;
  line-height: 20px;
}
