@import '~@vuematerial/motion/stylesheets/variables';
@import '~@vuematerial/elevation/elevation';

.md-app-bar {
  @extend .md-elevation-4;

  min-height: 56px;
  padding: 0 8px 0 16px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &.md-extended {
    min-height: 128px;
    padding-bottom: 12px;
    align-items: flex-end;
  }
}

.md-app-bar-content {
  width: 100%;
  padding: 16px 0;
}
