@import '../stylesheets/utils';

@mixin md-generate-state ($state, $selector: '&:before', $backgroundColor: '') {
  $rootSelector: '.md-state.md-#{$state}';

  @if ($selector != '&:before') {
    $rootSelector: '.md-state';
  }

  #{$rootSelector} {
    @include md-theme-component (state) {
      #{$selector} {
        background-color: md-get-state-color(surface, $state);
      }

      &.md-primary {
        #{$selector} {
          background-color: md-get-state-color(primary, $state);
        }
      }

      &.md-secondary {
        #{$selector} {
          background-color: md-get-state-color(secondary, $state);
        }
      }

      &.md-flat {
        &.md-primary {
          #{$selector} {
            background-color: md-get-state-color(primary, $state, md-get-color(primary), $backgroundColor);
          }
        }

        &.md-secondary {
          #{$selector} {
            background-color: md-get-state-color(secondary, $state, md-get-color(secondary), $backgroundColor);
          }
        }
      }
    }
  }
}

@include md-generate-state(hovered, '&:hover:before', surface);
@include md-generate-state(pressed, '&:active:before');
@include md-generate-state(selected);
@include md-generate-state(focused);
@include md-generate-state(activated);
@include md-generate-state(dragged);
