@import '~vue-material/theme/factory';

@include md-register-theme('dark', (
  primary: md-get-palette-color(white, 500),
  accent: md-get-palette-color(blue, 500),
  theme: dark
));

@import '~vue-material/base/theme';
@import '~vue-material/components/MdButton/theme';
@import '~vue-material/components/MdContent/theme';
@import '~vue-material/components/MdToolbar/theme';
