@import "~vue-material/theme/factory";

@include md-register-theme("default", (
  primary: md-get-palette-color(blue, A200),
  accent: md-get-palette-color(blue, A200)
));

@import "~vue-material/base/theme";
@import "~vue-material/components/MdButton/theme";
@import "~vue-material/components/MdContent/theme";
@import "~vue-material/components/MdDrawer/theme";
@import "~vue-material/components/MdIcon/theme";
@import "~vue-material/components/MdTabs/theme";
@import "~vue-material/components/MdToolbar/theme";
@import "~vue-material/components/MdTooltip/theme";
