@import "~vue-material/theme/engine";

@include md-register-theme("default-dark", (
  primary: md-get-palette-color(blue, A200),
  accent: md-get-palette-color(blue, A200),
  theme: dark
));

@import "./docs-imports.scss";
