@import "~vue-material/theme/engine";

$demo-light: (
  primary: md-get-palette-color(blue, A200),
  accent: md-get-palette-color(red, A200),
  theme: light
);

$demo-dark: (
  primary: md-get-palette-color(blue, A200),
  accent: md-get-palette-color(red, A200),
  theme: dark
);

@include md-register-theme("demo-dark", $demo-dark);
@include md-register-theme("demo-light", $demo-light);

@import "~vue-material/theme/all";
