.docs {
  padding: 0 8px;

  .cell-phone {
    width: 360px;
    height: 480px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    background-color: #eee;
  }

  .md-bottom-bar {
    margin-top: 424px;
  }
}
