@import '../../core/stylesheets/variables.scss';

$checkbox-size: 20px;
$checkbox-ripple-size: 48px;

.md-checkbox {
  width: auto;
  margin: 16px 8px 16px 0;
  display: inline-flex;
  position: relative;
  transform: translate3D(0, 0, 0);

  .md-checkbox-container {
    width: $checkbox-size;
    height: $checkbox-size;
    position: relative;
    border-radius: 2px;
    border: 2px solid rgba(#000, .54);
    transition: $swift-ease-out;

    &:after {
      width: 6px;
      height: 13px;
      position: absolute;
      top: 0;
      left: 5px;
      border: 2px solid #fff;
      border-top: 0;
      border-left: 0;
      opacity: 0;
      transform: rotate(45deg) scale3D(.15, .15, 1);
      transition: $swift-ease-in;
      content: " ";
    }

    input {
      position: absolute;
      left: -999em;
    }

    .md-ink-ripple {
      top: -16px;
      right: -16px;
      bottom: -16px;
      left: -16px;
      border-radius: 50%;
      color: rgba(#000, .54);

      .md-ripple {
        width: $checkbox-ripple-size !important;
        height: $checkbox-ripple-size !important;
        top: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
      }
    }
  }

  .md-checkbox-label {
    height: $checkbox-size;
    padding-left: 8px;
    line-height: $checkbox-size;
  }
}

.md-checkbox.md-checked {
  .md-checkbox-container {
    &:after {
      opacity: 1;
      transform: rotate(45deg) scale3D(1, 1, 1);
      transition: $swift-ease-out;
    }
  }
}
