.md-button {
  min-width: 88px;
  height: 40px;
  display: inline-block;
  border-radius: 2px;
  transition: .3s ease;

  @include md-theme-component(md-button) {
    background: md-theme(primary);
    color: md-theme(text-primary);
  }

  &.md-accent {
    @include md-theme-component(md-button) {
      background: md-theme(accent);
      color: md-theme(text-accent);
    };
  }
}
