.md-scrollbar {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }
}
